<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{partido.partidoName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container" *ngIf="loaded">

    <ion-card class="header">
      <ion-avatar class="partido-img">
        <img src={{partido.partidoImage}}>
      </ion-avatar>
      <h1>{{partido.partidoSigla}}</h1>
      <hr>
      <h4>{{partido.partidoName}}</h4>
    </ion-card>

    <div class="body">

      <h2>Informação Geral</h2>
      <h4>Descrição</h4>


      <h2>Planos</h2>

    </div>

  </ion-grid>
</ion-content>
