<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Partidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Partidos</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid style="width: 100%;">
    <ion-row>

      <ion-col (click)="openPartido(partido.id)" *ngFor="let partido of partidos">
        <div class="partido-card">
          <ion-avatar class="partido-list-img">
            <img src={{partido.image}} alt="">
          </ion-avatar>
          <div class="partido-sigla">{{partido.sigla}}</div>
          <hr style="color: aliceblue;">
          <div class="partido-name">{{partido.name}}</div>
        </div>
      </ion-col>

    </ion-row>
</ion-grid>

</ion-content>
