.partido-list-img{
  width: 100%;
  height: 155px;
}

.partido-sigla{
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}

.partido-name{
  font-size: small;
}

.partido-card{
  width: 175px;
  padding: 10px;
  text-align: center;
  align-content: center;
  margin: auto;
}

hr {
  height: 1px;
  width: 75%;
  background: lightgray;
  display: block;
  opacity: 1;
  visibility: visible;
}

.container{
  width: 1300px;
  max-width: 100% !important;
}
