<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Partidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Partidos</ion-title>
    </ion-toolbar>
  </ion-header>


  <div *ngFor="let partido of partidos">
    <ion-card (click)="openPartido(partido.sigla)">

      <ion-row>
        <ion-col>
          <ion-card-content>
            <div class="partido-name">{{partido.name}}</div>
            <div class="partido-sigla">{{partido.sigla}}</div>
          </ion-card-content>
        </ion-col>

        <ion-col size="4">
          <img class="partido-list-img" src={{partido.imagem}} alt="">
        </ion-col>
      </ion-row>

    </ion-card>
  </div>


</ion-content>
